<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  {% include stylesheet.html %}
  {% include enFont.html %}
  {% include siFont.html %}
  {% include script.html %}
</head>

<body>
  {% include loading.html %}
  {% include tto.html %}
  {% include scrollProgress.html %}
  {% include rcp.html %}
  {% include header.html %}
  {% include CookiesConsentNew.html %}
  <main>
    {{ content }}
  </main>
  {% include threejs.html %}
  {% include footer.html %}
  {% include vanta/cells.html %}
  <script>
    VANTA.CELLS({
      el: "footer",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00
    })
  </script>
</body>

</html>